@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}


@font-face {
  font-family: 'Island Moments';
  src: url('../app/fonts/IslandMoments-Regular.ttf') format('truetype');    
  font-style:  italic;  /* Set the style (normal/italic) */
}


.font-island-moments {
  font-family: 'Island Moments', sans-serif;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hr-color{
  background-color:rgb(27, 26, 26);
}
.hr-color2{
  background-color:rgb(27, 26, 26);
}



